.chartPage {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;

  .days {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .users {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}