.chartPage {
  background-color: green;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;

  .days {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .emotion {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}